<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body>
  <footer class="text-center text-lg-start">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span style="color:  #eac300; font-size: 20px;">Get connected with us on social networks:</span>
      </div>
      <div class="social-media">
        <a href="https://www.stalwartprints.com" target="_blank" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/stalwartprints?igsh=YmppcDNkbjB2NTg2" target="_blank" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/stalwartprints" target="_blank" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" id="products" title="coming soon">
                  <h6 class="text-uppercase fw-bold mb-4" style="color:  #eac300; font-size: 20px;">Coming Soon</h6>
            <p><span class="text-reset">T-Shirts</span></p>
            <p><span class="text-reset">Hoodies</span></p>
            <p><span class="text-reset">Corporate Gifting</span></p>
            <p><span class="text-reset">Other Printing Services</span></p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" id="useful-links" title="coming soon">
            <h6 class="text-uppercase fw-bold mb-4" style="color:  #eac300; font-size: 20px;">Useful links</h6>
            <p><span class="text-reset">About Us</span></p>
            <p><span class="text-reset">Contact Us</span></p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contacts">
            <h6 class="text-uppercase fw-bold mb-4" style="color:  #eac300; font-size: 20px;">Contact Us</h6>
            <a href="https://maps.app.goo.gl/JvWgB7JNAWhey7BC7" id="location" class="text-reset" target="_blank">
              <i class="fas fa-home me-3"></i> 9th Phase, K.P.H.B, Hyderabad.
            </a>
            <p></p>
            <p><i class="fas fa-envelope me-3"></i> stalwartprints&#64;gmail.com</p>
            <p><i class="fas fa-phone me-3"></i> + 91 630 39 325 39</p>
            <p><i class="fas fa-phone me-3"></i> + 91 701 33 514 09</p>
          </div>
        </div>
      </div>

      <div class="text-center">
        <h1 id="payments">100% SECURE PAYMENTS</h1>
        <img src="./assets/frame-payments.jpg" alt="payments-info" id="payments-info">
      </div>

      <div id="stalwartcontent">
        <p>
          Our business is established in 2022, we supply the best-quality range of T-shirts and Corporate Gift Accessories.
          Our range is highly durable, made of quality raw materials, long-lasting, and cost-effective. These can be customized
          with various designs, messages, and logos to give them a more personalized look. Our products are mainly used for promotion
          by various establishments or as individual or corporate gifting options. These products come in a variety of colors,
          sizes, prints, designs, and other specifications.
        </p>
      </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);" id="copyright">
      © 2023 Copyright: www.stalwartprints.com | All rights reserved.
      <div id="main-logo">
        <img src="./assets/stalwartPrintsLogo.svg">
      </div>
    </div>
  </footer>
</body>

</html>
