<div style="width: 100%;">
    <h1 style="text-decoration: none;">Our Highlights</h1>
    <div class="slider">
      <div class="slide-track">
        <!-- Slides -->
        <div class="slide">
          <img src="./assets/highlight1.svg" alt="highlight1" />
        </div>
        <div class="slide">
          <img src="./assets/highlight2.svg" alt="highlight2" />
        </div>
        <div class="slide">
          <img src="./assets/highlight3.svg" alt="highlight3" />
        </div>
        <!-- Same slides doubled -->
        <div class="slide">
          <img src="./assets/highlight1.svg" alt="highlight1" />
        </div>
        <div class="slide">
          <img src="./assets/highlight2.svg" alt="highlight2" />
        </div>
        <div class="slide">
          <img src="./assets/highlight3.svg" alt="highlight3" />
        </div>
      </div>
    </div>
  </div>
  